<header id="header" class="bs-header">
    <div class="container">
        <h1>Homs虚拟币系统
            <small>后台管理系统</small>
        </h1>
        <nav class="navbar navbar-default" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">功能导航</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
					#set($parentId = "top")
					#set($menuIndex = 0)
					#foreach($menu in $menuList)						
						#if($parentId == $!{menu.parentmenuid})
                            <li>
                                <a href="${menu.url}"><span class="glyphicon glyphicon-tasks"></span>${menu.menuname}</a>
                            </li>							
						#else
							#set($parentId = $!{menu.menuid})
							
							#if($menuIndex > 0)
					              </ul>
								</li>
							#end
							
							#set($menuIndex = $menuIndex + 1)
                            <li class="dropdown #if(${curMenu.parentmenuid} == ${menu.menuid}) active #end">
                                <a href="${menu.url}" class="dropdown-toggle" data-toggle="dropdown">${menu.menuname}<b class="caret"></b></a>
								<ul class="dropdown-menu">
							#end
						#end
						</ul>
                    </li>
                </ul>
				
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#">你好 ${user.cnname} <span class="badge" title="未处理订单">0</span></a>
                    </li>
                    <li class="dropdown">
                        <a href="$!tool.ihomsUrl()/logout.do" >退出 </a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>
    </div>
</header>
