<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hundsun.internet.billingsystem.dao.WeekSignBeanMapper" >
  <resultMap id="BaseResultMap" type="com.hundsun.internet.billingsystem.model.WeekSignBean" >
    <result column="Id" property="id" jdbcType="BIGINT" />
    <result column="WeekId" property="weekid" jdbcType="INTEGER" />
    <result column="UserId" property="userid" jdbcType="BIGINT" />
    <result column="Mon" property="mon" jdbcType="INTEGER" />
    <result column="StateMon" property="statemon" jdbcType="SMALLINT" />
    <result column="Tue" property="tue" jdbcType="INTEGER" />
    <result column="StateTue" property="statetue" jdbcType="SMALLINT" />
    <result column="Wed" property="wed" jdbcType="INTEGER" />
    <result column="StateWed" property="statewed" jdbcType="SMALLINT" />
    <result column="Thur" property="thur" jdbcType="INTEGER" />
    <result column="StateThur" property="statethur" jdbcType="SMALLINT" />
    <result column="Fri" property="fri" jdbcType="INTEGER" />
    <result column="StateFri" property="statefri" jdbcType="SMALLINT" />
    <result column="Sat" property="sat" jdbcType="INTEGER" />
    <result column="StateSat" property="statesat" jdbcType="SMALLINT" />
    <result column="Sun" property="sun" jdbcType="INTEGER" />
    <result column="StateSun" property="statesun" jdbcType="SMALLINT" />
    <result column="PrizeCode" property="prizecode" jdbcType="VARCHAR" />
    <result column="RetroactiveNum" property="retroactivenum" jdbcType="INTEGER" />
    <result column="RetroactiveTime" property="retroactivetime" jdbcType="INTEGER" />
    <result column="Drawtime" property="drawtime" jdbcType="BIGINT" />
    <result column="UpdateTime" property="updatetime" jdbcType="BIGINT" />
    <result column="CreateTime" property="createtime" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    Id, WeekId, UserId, Mon, StateMon, Tue, StateTue, Wed, StateWed, Thur, StateThur, 
    Fri, StateFri, Sat, StateSat, Sun, StateSun, PrizeCode, RetroactiveNum, RetroactiveTime, 
    Drawtime, UpdateTime, CreateTime
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.hundsun.internet.billingsystem.model.WeekSignBeanCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from pris_weeksign
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.hundsun.internet.billingsystem.model.WeekSignBeanCriteria" >
    delete from pris_weeksign
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hundsun.internet.billingsystem.model.WeekSignBean" >
    insert into pris_weeksign (Id, WeekId, UserId, 
      Mon, StateMon, Tue, 
      StateTue, Wed, StateWed, 
      Thur, StateThur, Fri, 
      StateFri, Sat, StateSat, 
      Sun, StateSun, PrizeCode, 
      RetroactiveNum, RetroactiveTime, Drawtime, 
      UpdateTime, CreateTime)
    values (#{id,jdbcType=BIGINT}, #{weekid,jdbcType=INTEGER}, #{userid,jdbcType=BIGINT}, 
      #{mon,jdbcType=INTEGER}, #{statemon,jdbcType=SMALLINT}, #{tue,jdbcType=INTEGER}, 
      #{statetue,jdbcType=SMALLINT}, #{wed,jdbcType=INTEGER}, #{statewed,jdbcType=SMALLINT}, 
      #{thur,jdbcType=INTEGER}, #{statethur,jdbcType=SMALLINT}, #{fri,jdbcType=INTEGER}, 
      #{statefri,jdbcType=SMALLINT}, #{sat,jdbcType=INTEGER}, #{statesat,jdbcType=SMALLINT}, 
      #{sun,jdbcType=INTEGER}, #{statesun,jdbcType=SMALLINT}, #{prizecode,jdbcType=VARCHAR}, 
      #{retroactivenum,jdbcType=INTEGER}, #{retroactivetime,jdbcType=INTEGER}, #{drawtime,jdbcType=BIGINT}, 
      #{updatetime,jdbcType=BIGINT}, #{createtime,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.hundsun.internet.billingsystem.model.WeekSignBean" >
    insert into pris_weeksign
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        Id,
      </if>
      <if test="weekid != null" >
        WeekId,
      </if>
      <if test="userid != null" >
        UserId,
      </if>
      <if test="mon != null" >
        Mon,
      </if>
      <if test="statemon != null" >
        StateMon,
      </if>
      <if test="tue != null" >
        Tue,
      </if>
      <if test="statetue != null" >
        StateTue,
      </if>
      <if test="wed != null" >
        Wed,
      </if>
      <if test="statewed != null" >
        StateWed,
      </if>
      <if test="thur != null" >
        Thur,
      </if>
      <if test="statethur != null" >
        StateThur,
      </if>
      <if test="fri != null" >
        Fri,
      </if>
      <if test="statefri != null" >
        StateFri,
      </if>
      <if test="sat != null" >
        Sat,
      </if>
      <if test="statesat != null" >
        StateSat,
      </if>
      <if test="sun != null" >
        Sun,
      </if>
      <if test="statesun != null" >
        StateSun,
      </if>
      <if test="prizecode != null" >
        PrizeCode,
      </if>
      <if test="retroactivenum != null" >
        RetroactiveNum,
      </if>
      <if test="retroactivetime != null" >
        RetroactiveTime,
      </if>
      <if test="drawtime != null" >
        Drawtime,
      </if>
      <if test="updatetime != null" >
        UpdateTime,
      </if>
      <if test="createtime != null" >
        CreateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="weekid != null" >
        #{weekid,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=BIGINT},
      </if>
      <if test="mon != null" >
        #{mon,jdbcType=INTEGER},
      </if>
      <if test="statemon != null" >
        #{statemon,jdbcType=SMALLINT},
      </if>
      <if test="tue != null" >
        #{tue,jdbcType=INTEGER},
      </if>
      <if test="statetue != null" >
        #{statetue,jdbcType=SMALLINT},
      </if>
      <if test="wed != null" >
        #{wed,jdbcType=INTEGER},
      </if>
      <if test="statewed != null" >
        #{statewed,jdbcType=SMALLINT},
      </if>
      <if test="thur != null" >
        #{thur,jdbcType=INTEGER},
      </if>
      <if test="statethur != null" >
        #{statethur,jdbcType=SMALLINT},
      </if>
      <if test="fri != null" >
        #{fri,jdbcType=INTEGER},
      </if>
      <if test="statefri != null" >
        #{statefri,jdbcType=SMALLINT},
      </if>
      <if test="sat != null" >
        #{sat,jdbcType=INTEGER},
      </if>
      <if test="statesat != null" >
        #{statesat,jdbcType=SMALLINT},
      </if>
      <if test="sun != null" >
        #{sun,jdbcType=INTEGER},
      </if>
      <if test="statesun != null" >
        #{statesun,jdbcType=SMALLINT},
      </if>
      <if test="prizecode != null" >
        #{prizecode,jdbcType=VARCHAR},
      </if>
      <if test="retroactivenum != null" >
        #{retroactivenum,jdbcType=INTEGER},
      </if>
      <if test="retroactivetime != null" >
        #{retroactivetime,jdbcType=INTEGER},
      </if>
      <if test="drawtime != null" >
        #{drawtime,jdbcType=BIGINT},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=BIGINT},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hundsun.internet.billingsystem.model.WeekSignBeanCriteria" resultType="java.lang.Integer" >
    select count(*) from pris_weeksign
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update pris_weeksign
    <set >
      <if test="record.id != null" >
        Id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.weekid != null" >
        WeekId = #{record.weekid,jdbcType=INTEGER},
      </if>
      <if test="record.userid != null" >
        UserId = #{record.userid,jdbcType=BIGINT},
      </if>
      <if test="record.mon != null" >
        Mon = #{record.mon,jdbcType=INTEGER},
      </if>
      <if test="record.statemon != null" >
        StateMon = #{record.statemon,jdbcType=SMALLINT},
      </if>
      <if test="record.tue != null" >
        Tue = #{record.tue,jdbcType=INTEGER},
      </if>
      <if test="record.statetue != null" >
        StateTue = #{record.statetue,jdbcType=SMALLINT},
      </if>
      <if test="record.wed != null" >
        Wed = #{record.wed,jdbcType=INTEGER},
      </if>
      <if test="record.statewed != null" >
        StateWed = #{record.statewed,jdbcType=SMALLINT},
      </if>
      <if test="record.thur != null" >
        Thur = #{record.thur,jdbcType=INTEGER},
      </if>
      <if test="record.statethur != null" >
        StateThur = #{record.statethur,jdbcType=SMALLINT},
      </if>
      <if test="record.fri != null" >
        Fri = #{record.fri,jdbcType=INTEGER},
      </if>
      <if test="record.statefri != null" >
        StateFri = #{record.statefri,jdbcType=SMALLINT},
      </if>
      <if test="record.sat != null" >
        Sat = #{record.sat,jdbcType=INTEGER},
      </if>
      <if test="record.statesat != null" >
        StateSat = #{record.statesat,jdbcType=SMALLINT},
      </if>
      <if test="record.sun != null" >
        Sun = #{record.sun,jdbcType=INTEGER},
      </if>
      <if test="record.statesun != null" >
        StateSun = #{record.statesun,jdbcType=SMALLINT},
      </if>
      <if test="record.prizecode != null" >
        PrizeCode = #{record.prizecode,jdbcType=VARCHAR},
      </if>
      <if test="record.retroactivenum != null" >
        RetroactiveNum = #{record.retroactivenum,jdbcType=INTEGER},
      </if>
      <if test="record.retroactivetime != null" >
        RetroactiveTime = #{record.retroactivetime,jdbcType=INTEGER},
      </if>
      <if test="record.drawtime != null" >
        Drawtime = #{record.drawtime,jdbcType=BIGINT},
      </if>
      <if test="record.updatetime != null" >
        UpdateTime = #{record.updatetime,jdbcType=BIGINT},
      </if>
      <if test="record.createtime != null" >
        CreateTime = #{record.createtime,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update pris_weeksign
    set Id = #{record.id,jdbcType=BIGINT},
      WeekId = #{record.weekid,jdbcType=INTEGER},
      UserId = #{record.userid,jdbcType=BIGINT},
      Mon = #{record.mon,jdbcType=INTEGER},
      StateMon = #{record.statemon,jdbcType=SMALLINT},
      Tue = #{record.tue,jdbcType=INTEGER},
      StateTue = #{record.statetue,jdbcType=SMALLINT},
      Wed = #{record.wed,jdbcType=INTEGER},
      StateWed = #{record.statewed,jdbcType=SMALLINT},
      Thur = #{record.thur,jdbcType=INTEGER},
      StateThur = #{record.statethur,jdbcType=SMALLINT},
      Fri = #{record.fri,jdbcType=INTEGER},
      StateFri = #{record.statefri,jdbcType=SMALLINT},
      Sat = #{record.sat,jdbcType=INTEGER},
      StateSat = #{record.statesat,jdbcType=SMALLINT},
      Sun = #{record.sun,jdbcType=INTEGER},
      StateSun = #{record.statesun,jdbcType=SMALLINT},
      PrizeCode = #{record.prizecode,jdbcType=VARCHAR},
      RetroactiveNum = #{record.retroactivenum,jdbcType=INTEGER},
      RetroactiveTime = #{record.retroactivetime,jdbcType=INTEGER},
      Drawtime = #{record.drawtime,jdbcType=BIGINT},
      UpdateTime = #{record.updatetime,jdbcType=BIGINT},
      CreateTime = #{record.createtime,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <select resultMap="BaseResultMap" parameterType="com.hundsun.internet.billingsystem.model.WeekSignBeanCriteria" id="selectByExampleWithRowbounds" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from pris_weeksign
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
</mapper>