<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.whyse.internet.billingsystem.dao.WeekSignDescBeanMapper" >
  <resultMap id="BaseResultMap" type="com.whyse.internet.billingsystem.model.WeekSignDescBean" >
    <id column="Id" property="id" jdbcType="BIGINT" />
    <result column="WeekId" property="weekid" jdbcType="INTEGER" />
    <result column="SignNumMon" property="signnummon" jdbcType="INTEGER" />
    <result column="SignNumTue" property="signnumtue" jdbcType="INTEGER" />
    <result column="SignNumWed" property="signnumwed" jdbcType="INTEGER" />
    <result column="SignNumThur" property="signnumthur" jdbcType="INTEGER" />
    <result column="SignNumFri" property="signnumfri" jdbcType="INTEGER" />
    <result column="SignNumSat" property="signnumsat" jdbcType="INTEGER" />
    <result column="SignNumSun" property="signnumsun" jdbcType="INTEGER" />
    <result column="LotteryNum" property="lotterynum" jdbcType="INTEGER" />
    <result column="LotteryState" property="lotterystate" jdbcType="SMALLINT" />
    <result column="UpdateTime" property="updatetime" jdbcType="BIGINT" />
    <result column="CreateTime" property="createtime" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    Id, WeekId, SignNumMon, SignNumTue, SignNumWed, SignNumThur, SignNumFri, SignNumSat, 
    SignNumSun, LotteryNum, LotteryState, UpdateTime, CreateTime
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.whyse.internet.billingsystem.model.WeekSignDescBeanCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from pris_weeksigndesc
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from pris_weeksigndesc
    where Id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from pris_weeksigndesc
    where Id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.whyse.internet.billingsystem.model.WeekSignDescBeanCriteria" >
    delete from pris_weeksigndesc
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.whyse.internet.billingsystem.model.WeekSignDescBean" >
    insert into pris_weeksigndesc (Id, WeekId, SignNumMon, 
      SignNumTue, SignNumWed, SignNumThur, 
      SignNumFri, SignNumSat, SignNumSun, 
      LotteryNum, LotteryState, UpdateTime, 
      CreateTime)
    values (#{id,jdbcType=BIGINT}, #{weekid,jdbcType=INTEGER}, #{signnummon,jdbcType=INTEGER}, 
      #{signnumtue,jdbcType=INTEGER}, #{signnumwed,jdbcType=INTEGER}, #{signnumthur,jdbcType=INTEGER}, 
      #{signnumfri,jdbcType=INTEGER}, #{signnumsat,jdbcType=INTEGER}, #{signnumsun,jdbcType=INTEGER}, 
      #{lotterynum,jdbcType=INTEGER}, #{lotterystate,jdbcType=SMALLINT}, #{updatetime,jdbcType=BIGINT}, 
      #{createtime,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.whyse.internet.billingsystem.model.WeekSignDescBean" >
    insert into pris_weeksigndesc
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        Id,
      </if>
      <if test="weekid != null" >
        WeekId,
      </if>
      <if test="signnummon != null" >
        SignNumMon,
      </if>
      <if test="signnumtue != null" >
        SignNumTue,
      </if>
      <if test="signnumwed != null" >
        SignNumWed,
      </if>
      <if test="signnumthur != null" >
        SignNumThur,
      </if>
      <if test="signnumfri != null" >
        SignNumFri,
      </if>
      <if test="signnumsat != null" >
        SignNumSat,
      </if>
      <if test="signnumsun != null" >
        SignNumSun,
      </if>
      <if test="lotterynum != null" >
        LotteryNum,
      </if>
      <if test="lotterystate != null" >
        LotteryState,
      </if>
      <if test="updatetime != null" >
        UpdateTime,
      </if>
      <if test="createtime != null" >
        CreateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="weekid != null" >
        #{weekid,jdbcType=INTEGER},
      </if>
      <if test="signnummon != null" >
        #{signnummon,jdbcType=INTEGER},
      </if>
      <if test="signnumtue != null" >
        #{signnumtue,jdbcType=INTEGER},
      </if>
      <if test="signnumwed != null" >
        #{signnumwed,jdbcType=INTEGER},
      </if>
      <if test="signnumthur != null" >
        #{signnumthur,jdbcType=INTEGER},
      </if>
      <if test="signnumfri != null" >
        #{signnumfri,jdbcType=INTEGER},
      </if>
      <if test="signnumsat != null" >
        #{signnumsat,jdbcType=INTEGER},
      </if>
      <if test="signnumsun != null" >
        #{signnumsun,jdbcType=INTEGER},
      </if>
      <if test="lotterynum != null" >
        #{lotterynum,jdbcType=INTEGER},
      </if>
      <if test="lotterystate != null" >
        #{lotterystate,jdbcType=SMALLINT},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=BIGINT},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.whyse.internet.billingsystem.model.WeekSignDescBeanCriteria" resultType="java.lang.Integer" >
    select count(*) from pris_weeksigndesc
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update pris_weeksigndesc
    <set >
      <if test="record.id != null" >
        Id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.weekid != null" >
        WeekId = #{record.weekid,jdbcType=INTEGER},
      </if>
      <if test="record.signnummon != null" >
        SignNumMon = #{record.signnummon,jdbcType=INTEGER},
      </if>
      <if test="record.signnumtue != null" >
        SignNumTue = #{record.signnumtue,jdbcType=INTEGER},
      </if>
      <if test="record.signnumwed != null" >
        SignNumWed = #{record.signnumwed,jdbcType=INTEGER},
      </if>
      <if test="record.signnumthur != null" >
        SignNumThur = #{record.signnumthur,jdbcType=INTEGER},
      </if>
      <if test="record.signnumfri != null" >
        SignNumFri = #{record.signnumfri,jdbcType=INTEGER},
      </if>
      <if test="record.signnumsat != null" >
        SignNumSat = #{record.signnumsat,jdbcType=INTEGER},
      </if>
      <if test="record.signnumsun != null" >
        SignNumSun = #{record.signnumsun,jdbcType=INTEGER},
      </if>
      <if test="record.lotterynum != null" >
        LotteryNum = #{record.lotterynum,jdbcType=INTEGER},
      </if>
      <if test="record.lotterystate != null" >
        LotteryState = #{record.lotterystate,jdbcType=SMALLINT},
      </if>
      <if test="record.updatetime != null" >
        UpdateTime = #{record.updatetime,jdbcType=BIGINT},
      </if>
      <if test="record.createtime != null" >
        CreateTime = #{record.createtime,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update pris_weeksigndesc
    set Id = #{record.id,jdbcType=BIGINT},
      WeekId = #{record.weekid,jdbcType=INTEGER},
      SignNumMon = #{record.signnummon,jdbcType=INTEGER},
      SignNumTue = #{record.signnumtue,jdbcType=INTEGER},
      SignNumWed = #{record.signnumwed,jdbcType=INTEGER},
      SignNumThur = #{record.signnumthur,jdbcType=INTEGER},
      SignNumFri = #{record.signnumfri,jdbcType=INTEGER},
      SignNumSat = #{record.signnumsat,jdbcType=INTEGER},
      SignNumSun = #{record.signnumsun,jdbcType=INTEGER},
      LotteryNum = #{record.lotterynum,jdbcType=INTEGER},
      LotteryState = #{record.lotterystate,jdbcType=SMALLINT},
      UpdateTime = #{record.updatetime,jdbcType=BIGINT},
      CreateTime = #{record.createtime,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.whyse.internet.billingsystem.model.WeekSignDescBean" >
    update pris_weeksigndesc
    <set >
      <if test="weekid != null" >
        WeekId = #{weekid,jdbcType=INTEGER},
      </if>
      <if test="signnummon != null" >
        SignNumMon = #{signnummon,jdbcType=INTEGER},
      </if>
      <if test="signnumtue != null" >
        SignNumTue = #{signnumtue,jdbcType=INTEGER},
      </if>
      <if test="signnumwed != null" >
        SignNumWed = #{signnumwed,jdbcType=INTEGER},
      </if>
      <if test="signnumthur != null" >
        SignNumThur = #{signnumthur,jdbcType=INTEGER},
      </if>
      <if test="signnumfri != null" >
        SignNumFri = #{signnumfri,jdbcType=INTEGER},
      </if>
      <if test="signnumsat != null" >
        SignNumSat = #{signnumsat,jdbcType=INTEGER},
      </if>
      <if test="signnumsun != null" >
        SignNumSun = #{signnumsun,jdbcType=INTEGER},
      </if>
      <if test="lotterynum != null" >
        LotteryNum = #{lotterynum,jdbcType=INTEGER},
      </if>
      <if test="lotterystate != null" >
        LotteryState = #{lotterystate,jdbcType=SMALLINT},
      </if>
      <if test="updatetime != null" >
        UpdateTime = #{updatetime,jdbcType=BIGINT},
      </if>
      <if test="createtime != null" >
        CreateTime = #{createtime,jdbcType=BIGINT},
      </if>
    </set>
    where Id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.whyse.internet.billingsystem.model.WeekSignDescBean" >
    update pris_weeksigndesc
    set WeekId = #{weekid,jdbcType=INTEGER},
      SignNumMon = #{signnummon,jdbcType=INTEGER},
      SignNumTue = #{signnumtue,jdbcType=INTEGER},
      SignNumWed = #{signnumwed,jdbcType=INTEGER},
      SignNumThur = #{signnumthur,jdbcType=INTEGER},
      SignNumFri = #{signnumfri,jdbcType=INTEGER},
      SignNumSat = #{signnumsat,jdbcType=INTEGER},
      SignNumSun = #{signnumsun,jdbcType=INTEGER},
      LotteryNum = #{lotterynum,jdbcType=INTEGER},
      LotteryState = #{lotterystate,jdbcType=SMALLINT},
      UpdateTime = #{updatetime,jdbcType=BIGINT},
      CreateTime = #{createtime,jdbcType=BIGINT}
    where Id = #{id,jdbcType=BIGINT}
  </update>
  <select resultMap="BaseResultMap" parameterType="com.whyse.internet.billingsystem.model.WeekSignDescBeanCriteria" id="selectByExampleWithRowbounds" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from pris_weeksigndesc
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
</mapper>