#set($layout="/www/layout/layout.html") #set($pageClass="article")
<link rel="stylesheet" href="/css/cms.css" />

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel" id="article-list">
                <div class="panel-heading">
                    <h1 class="panel-title">
				资讯
				</h1>
                </div>
                <div class="panel-body">
                    <div class="tabs-view tabs-horizontal col-md-resize">
                        <ul class="nav nav-tabs col-md-side">
                            <li><a href="#tab3-1">公告</a>
                            </li>
                            <li class="active"><a href="#tab3-2">新闻</a>
                            </li>
                            <li><a href="#tab3-3">专题</a>
                            </li>
                            <li><a href="#tab3-4">期刊</a>
                            </li>
                        </ul>
                        <div class="tab-content col-md-content">
                            <div class="tab-pane active">
                                <ul class="articles">
                                    <li>
                                        <a href="$!bean.link" target="_blank" title="$!bean.title">恒生电子成立子公司</a>
                                        <span class="article_date">2014-04-12</span>
                                    </li>
                                    <li class="odd">
                                        <a href="$!bean.link" target="_blank" title="$!bean.title">恒生电子成立子公司</a>
                                        <span class="article_date">2014-04-12</span>
                                    </li>
                                    <li>
                                        <a href="$!bean.link" target="_blank" title="$!bean.title">恒生电子成立子公司</a>
                                        <span class="article_date">2014-04-12</span>
                                    </li>
                                    <li class="odd">
                                        <a href="$!bean.link" target="_blank" title="$!bean.title">恒生电子成立子公司</a>
                                        <span class="article_date">2014-04-12</span>
                                    </li>
                                    <li>
                                        <a href="$!bean.link" target="_blank" title="$!bean.title">恒生电子成立子公司</a>
                                        <span class="article_date">2014-04-12</span>
                                    </li>
                                    <li class="odd">
                                        <a href="$!bean.link" target="_blank" title="$!bean.title">恒生电子成立子公司</a>
                                        <span class="article_date">2014-04-12</span>
                                    </li>
                                    <li>
                                        <a href="$!bean.link" target="_blank" title="$!bean.title">恒生电子成立子公司</a>
                                        <span class="article_date">2014-04-12</span>
                                    </li>
                                    <li class="odd">
                                        <a href="$!bean.link" target="_blank" title="$!bean.title">恒生电子成立子公司</a>
                                        <span class="article_date">2014-04-12</span>
                                    </li>
                                    <li>
                                        <a href="$!bean.link" target="_blank" title="$!bean.title">恒生电子成立子公司</a>
                                        <span class="article_date">2014-04-12</span>
                                    </li>
                                    <li class="odd">
                                        <a href="$!bean.link" target="_blank" title="$!bean.title">恒生电子成立子公司</a>
                                        <span class="article_date">2014-04-12</span>
                                    </li>
                                </ul>
                                <ul class="pagination">
                                    <li><a href="#">&laquo;</a>
                                    </li>
                                    <li><a href="#">1</a>
                                    </li>
                                    <li><a href="#">2</a>
                                    </li>
                                    <li><a href="#">3</a>
                                    </li>
                                    <li><a href="#">4</a>
                                    </li>
                                    <li><a href="#">5</a>
                                    </li>
                                    <li><a href="#">&raquo;</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
