#set($layout="/www/layout/layout.html")
#set($pageClass="article")
<link rel="stylesheet" href="/css/cms.css" />

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel" id="article-list">
                <div class="panel-heading">
                    <h1 class="panel-title">
				资讯
				</h1>
                </div>
                <div class="panel-body">
                    <div class="tabs-view tabs-horizontal col-md-resize">
                        <ul class="nav nav-tabs col-md-side">
                            <li><a href="#tab3-1">公告</a>
                            </li>
                            <li><a href="#tab3-2">新闻</a>
                            </li>
                            <li><a href="#tab3-3">专题</a>
                            </li>
                            <li class="active"><a href="#tab3-4">期刊</a>
                            </li>
                        </ul>
                        <div class="tab-content col-md-content">
                            <div class="tab-pane active">
								<h2 class="periodical-header">2014恒生世界</h2>
								<div class="periodical-scroll">
									<div class="periodical-scroll-item">
										<a href="$!bean.link" target="_blank" title="$!bean.title">
										<img src="/images/temp_09.png" />
										</a>
										<h3><a href="">第三期</a></h3>
									</div>
									<div class="periodical-scroll-item">
										<a href="$!bean.link" target="_blank" title="$!bean.title">
										<img src="/images/temp_09.png" />
										</a>
										<h3><a href="">第三期</a></h3>
									</div>
									<div class="periodical-scroll-item">
										<a href="$!bean.link" target="_blank" title="$!bean.title">
										<img src="/images/temp_09.png" />
										</a>
										<h3><a href="">第三期</a></h3>
									</div>
									<div class="periodical-scroll-item">
										<a href="$!bean.link" target="_blank" title="$!bean.title">
										<img src="/images/temp_09.png" />
										</a>
										<h3><a href="">第三期</a></h3>
									</div>
									<div class="periodical-scroll-item">
										<a href="$!bean.link" target="_blank" title="$!bean.title">
										<img src="/images/temp_09.png" />
										</a>
										<h3><a href="">第三期</a></h3>
									</div>
								</div>
								<h2 class="periodical-header">《恒生.金融云》</h2>
								<div class="periodical-scroll">
									<div class="periodical-scroll-item">
										<a href="$!bean.link" target="_blank" title="$!bean.title">
										<img src="/images/temp_09.png" />
										</a>
										<h3><a href="">第三期</a></h3>
									</div>
									<div class="periodical-scroll-item">
										<a href="$!bean.link" target="_blank" title="$!bean.title">
										<img src="/images/temp_09.png" />
										</a>
										<h3><a href="">第三期</a></h3>
									</div>
									<div class="periodical-scroll-item">
										<a href="$!bean.link" target="_blank" title="$!bean.title">
										<img src="/images/temp_09.png" />
										</a>
										<h3><a href="">第三期</a></h3>
									</div>
									<div class="periodical-scroll-item">
										<a href="$!bean.link" target="_blank" title="$!bean.title">
										<img src="/images/temp_09.png" />
										</a>
										<h3><a href="">第三期</a></h3>
									</div>
									<div class="periodical-scroll-item">
										<a href="$!bean.link" target="_blank" title="$!bean.title">
										<img src="/images/temp_09.png" />
										</a>
										<h3><a href="">第三期</a></h3>
									</div>
								</div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
