#set($layout="/www/layout/layout.html") #set($pageClass="article")
<link rel="stylesheet" href="/css/cms.css" />

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel" id="article-list">
                <div class="panel-heading">
                    <h1 class="panel-title">
				资讯
				</h1>
                </div>
                <div class="panel-body">
                    <div class="tabs-view tabs-horizontal col-md-resize">
                        <ul class="nav nav-tabs col-md-side">
                            <li><a href="#tab3-1">公告</a>
                            </li>
                            <li><a href="#tab3-2">新闻</a>
                            </li>
                            <li class="active"><a href="#tab3-3">专题</a>
                            </li>
                            <li><a href="#tab3-4">期刊</a>
                            </li>
                        </ul>
                        <div class="tab-content col-md-content">
                            <div class="tab-pane active">

                                <ul class="topic-article">
                                    <li>
                                        <div class="topic-image">
                                            <img src="" />
                                        </div>
                                        <h2 class="topic-title">2014对冲基金钱江论坛 </h2>	
                                        <span class="topic-date"><label for="">发布于</label>2014-02-12</span>
                                        <p class="topic-description">
                                            特拉法加海战，日不落帝国的民族英雄奈尔逊将军击败了骄傲的法兰西雄狮拿破仑一战成名。而如今，为了纪念这一历史性时刻的大英帝国地标，特拉法加广场，入驻了法兰西大公鸡。
                                        </p>
                                        <a class="topic-more btn btn-primary" href="">阅读更多</a>
                                    </li>
                                    <li>
                                        <div class="topic-image">
                                            <img src="" />
                                        </div>
                                        <h2 class="topic-title">2014对冲基金钱江论坛 </h2>	
                                        <span class="topic-date"><label for="">发布于</label>2014-02-12</span>
                                        <p class="topic-description">
                                            特拉法加海战，日不落帝国的民族英雄奈尔逊将军击败了骄傲的法兰西雄狮拿破仑一战成名。而如今，为了纪念这一历史性时刻的大英帝国地标，特拉法加广场，入驻了法兰西大公鸡。
                                        </p>
                                        <a class="topic-more btn btn-primary" href="">阅读更多</a>
                                    </li>
                                    <li>
                                        <div class="topic-image">
                                            <img src="" />
                                        </div>
                                        <h2 class="topic-title">2014对冲基金钱江论坛 </h2>	
                                        <span class="topic-date"><label for="">发布于</label>2014-02-12</span>
                                        <p class="topic-description">
                                            特拉法加海战，日不落帝国的民族英雄奈尔逊将军击败了骄傲的法兰西雄狮拿破仑一战成名。而如今，为了纪念这一历史性时刻的大英帝国地标，特拉法加广场，入驻了法兰西大公鸡。
                                        </p>
                                        <a class="topic-more btn btn-primary" href="">阅读更多</a>
                                    </li>
                                </ul>
                                <ul class="pagination">
                                    <li><a href="#">&laquo;</a>
                                    </li>
                                    <li><a href="#">1</a>
                                    </li>
                                    <li><a href="#">2</a>
                                    </li>
                                    <li><a href="#">3</a>
                                    </li>
                                    <li><a href="#">4</a>
                                    </li>
                                    <li><a href="#">5</a>
                                    </li>
                                    <li><a href="#">&raquo;</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
