#set($layout="/www/layout/layout.html") #set($pageClass="study")
<link rel="stylesheet" href="/css/cms.css" />
<div class="portlet-container">
    <div class="container">
        <div id="study-menu" class="navbar" role="navigation">
            <div class="navbar-header pull-left">
                <a class="navbar-brand" href="${base}/study/">HOMS学堂</a>
            </div>
            <div class="navbar-collapse pull-left">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="${base}/study/">热门推荐<em></em></a>
                    </li>
                    <li class=""><a href="#">新手入门<em></em></a>
                    </li>
                    <li class=""><a href="#">高手进晋<em></em></a>
                    </li>
                </ul>
            </div>
            <div class="navbar-search pull-right">
                <div class="key-search">
                    <form action="" method="get">
                        <input type="text" name="keyword" class="search-box" placeholder="请输入搜索关键字">
                        <input type="submit" class="search-btn" value="搜索" />
                    </form>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 ">
                <div class="panel study-thumb-list" id="video-panel">
                    <div class="panel-heading">
                        <h1 class="panel-title">视频类</h1>
                    </div>
                    <div class="panel-body carousel slide" data-ride="carousel" id="carousel-video">
                        <div class="carousel-inner">
                            <div class="item active">
                                <ul class="article_thumbnail">
                                    <li>
                                        <a href="${a.url}" target="_blank">
                                            <img class="thumb" src="xxx/do" alt="${a.title}">
                                        </a>
                                        <a href="${a.url}" target="_blank"><h4 class="title-label">[@text_cut s=a.title len=titLen /]</h4></a>
                                    </li>
                                    <li>
                                        <a href="${a.url}" target="_blank">
                                            <img class="thumb" src="xxx/do" alt="${a.title}">
                                        </a>
                                        <a href="${a.url}" target="_blank"><h4 class="title-label">[@text_cut s=a.title len=titLen /]</h4></a>
                                    </li>
                                    <li>
                                        <a href="${a.url}" target="_blank">
                                            <img class="thumb" src="xxx/do" alt="${a.title}">
                                        </a>
                                        <a href="${a.url}" target="_blank"><h4 class="title-label">[@text_cut s=a.title len=titLen /]</h4></a>
                                    </li>
                                    <li>
                                        <a href="${a.url}" target="_blank">
                                            <img class="thumb" src="xxx/do" alt="${a.title}">
                                        </a>
                                        <a href="${a.url}" target="_blank"><h4 class="title-label">[@text_cut s=a.title len=titLen /]</h4></a>
                                    </li>
                                    <li class="margin-t-10">
                                        <a href="${a.url}" target="_blank">
                                            <img class="thumb" src="xxx/do" alt="${a.title}">
                                        </a>
                                        <a href="${a.url}" target="_blank"><h4 class="title-label">[@text_cut s=a.title len=titLen /]</h4></a>
                                    </li>
                                    <li>
                                        <a href="${a.url}" target="_blank">
                                            <img class="thumb" src="xxx/do" alt="${a.title}">
                                        </a>
                                        <a href="${a.url}" target="_blank"><h4 class="title-label">[@text_cut s=a.title len=titLen /]</h4></a>
                                    </li>
                                    <li>
                                        <a href="${a.url}" target="_blank">
                                            <img class="thumb" src="xxx/do" alt="${a.title}">
                                        </a>
                                        <a href="${a.url}" target="_blank"><h4 class="title-label">[@text_cut s=a.title len=titLen /]</h4></a>
                                    </li>
                                    <li>
                                        <a href="${a.url}" target="_blank">
                                            <img class="thumb" src="xxx/do" alt="${a.title}">
                                        </a>
                                        <a href="${a.url}" target="_blank"><h4 class="title-label">[@text_cut s=a.title len=titLen /]</h4></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="item">
                                <ul class="article_thumbnail">
                                    <li>
                                        <a href="${a.url}" target="_blank">
                                            <img class="thumb" src="xxx/do" alt="${a.title}">
                                        </a>
                                        <a href="${a.url}" target="_blank"><h4 class="title-label">[@text_cut s=a.title len=titLen /]</h4></a>
                                    </li>
                                    <li>
                                        <a href="${a.url}" target="_blank">
                                            <img class="thumb" src="xxx/do" alt="${a.title}">
                                        </a>
                                        <a href="${a.url}" target="_blank"><h4 class="title-label">[@text_cut s=a.title len=titLen /]</h4></a>
                                    </li>
                                    <li>
                                        <a href="${a.url}" target="_blank">
                                            <img class="thumb" src="xxx/do" alt="${a.title}">
                                        </a>
                                        <a href="${a.url}" target="_blank"><h4 class="title-label">[@text_cut s=a.title len=titLen /]</h4></a>
                                    </li>
                                    <li>
                                        <a href="${a.url}" target="_blank">
                                            <img class="thumb" src="xxx/do" alt="${a.title}">
                                        </a>
                                        <a href="${a.url}" target="_blank"><h4 class="title-label">[@text_cut s=a.title len=titLen /]</h4></a>
                                    </li>
                                    <li class="margin-t-10">
                                        <a href="${a.url}" target="_blank">
                                            <img class="thumb" src="xxx/do" alt="${a.title}">
                                        </a>
                                        <a href="${a.url}" target="_blank"><h4 class="title-label">[@text_cut s=a.title len=titLen /]</h4></a>
                                    </li>
                                    <li>
                                        <a href="${a.url}" target="_blank">
                                            <img class="thumb" src="xxx/do" alt="${a.title}">
                                        </a>
                                        <a href="${a.url}" target="_blank"><h4 class="title-label">[@text_cut s=a.title len=titLen /]</h4></a>
                                    </li>
                                    <li>
                                        <a href="${a.url}" target="_blank">
                                            <img class="thumb" src="xxx/do" alt="${a.title}">
                                        </a>
                                        <a href="${a.url}" target="_blank"><h4 class="title-label">[@text_cut s=a.title len=titLen /]</h4></a>
                                    </li>
                                    <li>
                                        <a href="${a.url}" target="_blank">
                                            <img class="thumb" src="xxx/do" alt="${a.title}">
                                        </a>
                                        <a href="${a.url}" target="_blank"><h4 class="title-label">[@text_cut s=a.title len=titLen /]</h4></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="item">
                                <ul class="article_thumbnail">
                                    <li>
                                        <a href="${a.url}" target="_blank">
                                            <img class="thumb" src="xxx/do" alt="${a.title}">
                                        </a>
                                        <a href="${a.url}" target="_blank"><h4 class="title-label">[@text_cut s=a.title len=titLen /]</h4></a>
                                    </li>
                                    <li>
                                        <a href="${a.url}" target="_blank">
                                            <img class="thumb" src="xxx/do" alt="${a.title}">
                                        </a>
                                        <a href="${a.url}" target="_blank"><h4 class="title-label">[@text_cut s=a.title len=titLen /]</h4></a>
                                    </li>
                                    <li>
                                        <a href="${a.url}" target="_blank">
                                            <img class="thumb" src="xxx/do" alt="${a.title}">
                                        </a>
                                        <a href="${a.url}" target="_blank"><h4 class="title-label">[@text_cut s=a.title len=titLen /]</h4></a>
                                    </li>
                                    <li>
                                        <a href="${a.url}" target="_blank">
                                            <img class="thumb" src="xxx/do" alt="${a.title}">
                                        </a>
                                        <a href="${a.url}" target="_blank"><h4 class="title-label">[@text_cut s=a.title len=titLen /]</h4></a>
                                    </li>
                                    <li class="margin-t-10">
                                        <a href="${a.url}" target="_blank">
                                            <img class="thumb" src="xxx/do" alt="${a.title}">
                                        </a>
                                        <a href="${a.url}" target="_blank"><h4 class="title-label">[@text_cut s=a.title len=titLen /]</h4></a>
                                    </li>
                                    <li>
                                        <a href="${a.url}" target="_blank">
                                            <img class="thumb" src="xxx/do" alt="${a.title}">
                                        </a>
                                        <a href="${a.url}" target="_blank"><h4 class="title-label">[@text_cut s=a.title len=titLen /]</h4></a>
                                    </li>
                                    <li>
                                        <a href="${a.url}" target="_blank">
                                            <img class="thumb" src="xxx/do" alt="${a.title}">
                                        </a>
                                        <a href="${a.url}" target="_blank"><h4 class="title-label">[@text_cut s=a.title len=titLen /]</h4></a>
                                    </li>
                                    <li>
                                        <a href="${a.url}" target="_blank">
                                            <img class="thumb" src="xxx/do" alt="${a.title}">
                                        </a>
                                        <a href="${a.url}" target="_blank"><h4 class="title-label">[@text_cut s=a.title len=titLen /]</h4></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="carousel-control">
                            <a class="left" href="#carousel-video" role="button" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                            </a>
                            <a class="right" href="#carousel-video" role="button" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 ">
                <div class="panel" id="document-panel">
                    <div class="panel-heading">
                        <h1 class="panel-title">文档类</h1>
                    </div>
                    <div class="panel-body">
                   		<ul class="article">
                            <li class="article-head">
                                文档名称
                                <span class="article_date">文档日期</span>
                            </li>
                            <!-- 上面表头别循环错了 下面才是开始 -->
                            <li>
                                <a href="${a.url}">[@text_cut s=a.title len=titLen /]</a>
                                <span class="article_date">2014-12-12</span>
                            </li>
                            <li>
                                <a href="${a.url}">[@text_cut s=a.title len=titLen /]</a>
                                <span class="article_date">2014-12-12</span>
                            </li>
                            <li>
                                <a href="${a.url}">[@text_cut s=a.title len=titLen /]</a>
                                <span class="article_date">2014-12-12</span>
                            </li>
                            <li>
                                <a href="${a.url}">[@text_cut s=a.title len=titLen /]</a>
                                <span class="article_date">2014-12-12</span>
                            </li>
                            <li class="m-t-10">
                                <a href="${a.url}">[@text_cut s=a.title len=titLen /]</a>
                                <span class="article_date">2014-12-12</span>
                            </li>
                            <li>
                                <a href="${a.url}">[@text_cut s=a.title len=titLen /]</a>
                                <span class="article_date">2014-12-12</span>
                            </li>
                            <li>
                                <a href="${a.url}">[@text_cut s=a.title len=titLen /]</a>
                                <span class="article_date">2014-12-12</span>
                            </li>
                            <li>
                                <a href="${a.url}">[@text_cut s=a.title len=titLen /]</a>
                                <span class="article_date">2014-12-12</span>
                            </li>
                            <li>
                                <a href="${a.url}">[@text_cut s=a.title len=titLen /]</a>
                                <span class="article_date">2014-12-12</span>
                            </li>
                            <li>
                                <a href="${a.url}">[@text_cut s=a.title len=titLen /]</a>
                                <span class="article_date">2014-12-12</span>
                            </li>
                        </ul>
					</div>
                </div>
            </div>
        </div>
    </div>
</div>
