.yahei {
  font-family: "Microsoft YaHei", "微软雅黑", "Microsoft JhengHei";
}
body {
  font-size: 12px;
  font-family: "simsum";
}
ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.money {
  color: #e13435;
}
.container {
  width: 990px;
  padding: 0;
}
.panel {
  background-color: transparent;
  box-shadow: none;
  border-radius: 0;
  border: 0;
}
.panel.no-border .panel-body {
  border: 0;
}
.panel .panel-heading {
  border-bottom: 3px solid #ff4c4d;
  position: relative;
  padding: 5px 0 10px 0;
}
.panel .panel-title-more {
  position: absolute;
  right: 0px;
  top: 10px;
}
.panel .panel-title {
  font-family: "Microsoft YaHei", "微软雅黑", "Microsoft JhengHei";
  color: #ff4c4d;
  font-size: 18px;
}
.panel .panel-body {
  padding: 20px;
  border-color: #dbdee1;
  border-width: 0 1px 1px 1px;
  border-style: solid;
  background-color: #fff;
}
.dl-horizontal dt {
  clear: left;
  float: left;
}
.shortcut-bar {
  line-height: 27px;
  background-color: #f5f5f5;
  border-bottom: #d7d7d7 1px solid;
  color: #8c8c8c;
}
.shortcut-bar a {
  color: #8c8c8c;
  margin: 0 10px;
}
.shortcut-bar .shortcut-user {
  margin-right: -20px;
}
#page-header {
  padding-top: 22px;
}
#page-header .logo {
  margin: 0;
  margin-top: -20px;
}
#page-header .navbar-nav {
  width: 370px;
  margin: 0;
}
#page-header .navbar-nav li {
  position: relative;
  padding-left: 20px;
}
#page-header .navbar-nav li a {
  font-family: "Microsoft YaHei", "微软雅黑", "Microsoft JhengHei";
  font-size: 20px;
  color: #000;
  padding: 5px 5px;
}
#page-header .navbar-nav li a:hover,
#page-header .navbar-nav li a:active,
#page-header .navbar-nav li a:focus {
  background-color: transparent;
}
#page-header .navbar-nav li.active a {
  color: #ff6c02;
}
#page-header .navbar-nav li.active .icons-nav {
  background-image: url("../../images/iasp_sprite.png");
  position: absolute;
  background-position: -10px -10px;
  width: 18px;
  left: 0;
  top: 5px;
  height: 18px;
}
#page-header .header-search {
  position: relative;
}
#page-header .header-search .form-control {
  border-radius: 0;
  text-indent: 5px;
  border-color: #dedede;
  color: #aaa;
}
#page-header .header-search .btn-search {
  position: absolute;
  right: 10px;
  top: 8px;
  width: 18px;
  height: 18px;
  padding: 0;
  background-color: transparent;
  border-radius: 0;
}
#page-body {
  background-color: #f6f6f6;
}
#page-footer {
  border-top: #e1e1e1 1px solid;
  height: 83px;
  padding-top: 23px;
  color: #666;
}
#page-footer .row {
  padding: 0 15px;
}
#page-footer a {
  color: #666;
  width: 48px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
#page-footer .pull-right {
  text-align: right;
}
.row .col-md-9 {
  width: 710px;
  *width: 680px;
  *float: left;
}
.row .col-md-3 {
  width: 310px;
  *width: 270px;
  *float: left;
}
.icons {
  background-image: url("../../images/iasp_sprite.png");
}
.icons-mobile {
  background-image: url("../../images/iasp_sprite.png");
  background-position: -70px -10px;
}
.icons-mobile.active {
  background-position: -40px -10px;
}
.icons-email {
  background-image: url("../../images/iasp_sprite.png");
  background-position: -70px -40px;
}
.icons-email.active {
  background-position: -40px -40px;
}
.icons-real {
  background-image: url("../../images/iasp_sprite.png");
  background-position: -70px -70px;
}
.icons-real.active {
  background-position: -40px -70px;
}
.icons-cmp {
  background-image: url("../../images/iasp_sprite.png");
  background-position: -70px -100px;
}
.icons-cmp.active {
  background-position: -40px -100px;
}
.icons-holder {
  background-image: url("../../images/iasp_sprite.png");
  background-position: -70px -130px;
}
.icons-holder.active {
  background-position: -40px -130px;
}
.icons-team {
  background-image: url("../../images/iasp_sprite.png");
  background-position: -70px -160px;
}
.icons-team.active {
  background-position: -40px -160px;
}
.icons-perform {
  background-image: url("../../images/iasp_sprite.png");
  background-position: -70px -190px;
}
.icons-perform.active {
  background-position: -40px -190px;
}
.icons-link1 {
  background-image: url("../../images/iasp_sprite.png");
  background-position: -70px -220px;
}
.icons-link1.active {
  background-position: -40px -220px;
}
.icons-link2 {
  background-image: url("../../images/iasp_sprite.png");
  background-position: -70px -250px;
}
.icons-link2.active {
  background-position: -40px -250px;
}
.icons-link3 {
  background-image: url("../../images/iasp_sprite.png");
  background-position: -70px -280px;
}
.icons-link3.active {
  background-position: -40px -280px;
}
.icons-link4 {
  background-image: url("../../images/iasp_sprite.png");
  background-position: -70px -310px;
}
.icons-link4.active {
  background-position: -40px -310px;
}
.icons-link5 {
  background-image: url("../../images/iasp_sprite.png");
  background-position: -70px -370px;
}
.icons-link5.active {
  background-position: -40px -370px;
}
.icons-link6 {
  background-image: url("../../images/iasp_sprite.png");
  background-position: -70px -370px;
}
.icons-link6.active {
  background-position: -40px -370px;
}
.icons-link7 {
  background-image: url("../../images/iasp_sprite.png");
  background-position: -70px -400px;
}
.icons-link7.active {
  background-position: -40px -400px;
}
.icons-search {
  background-image: url("../../images/iasp_sprite.png");
  background-position: -10px -150px;
}
.icons18X18 {
  width: 18px;
  height: 18px;
  display: inline-block;
  vertical-align: bottom;
  margin-right: 10px;
  *display: inline;
  *zoom: 1;
}
.icons46X46 {
  width: 46px;
  height: 46px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
  *display: inline;
  *zoom: 1;
}
.icons73X38 {
  width: 73px;
  height: 38px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
  *display: inline;
  *zoom: 1;
}
.icons-hint {
  background-image: url("../../images/iasp_sprite.png");
  width: 18px;
  height: 18px;
  display: inline-block;
  vertical-align: bottom;
  margin-right: 10px;
  *display: inline;
  *zoom: 1;
  margin-right: 5px;
  vertical-align: middle;
  background-position: -10px -218px;
}
.icons-clock {
  background-image: url("../../images/iasp_sprite.png");
  width: 18px;
  height: 18px;
  display: inline-block;
  vertical-align: bottom;
  margin-right: 10px;
  *display: inline;
  *zoom: 1;
  background-position: -9px -193px;
  height: 20px;
  width: 20px;
}
.icons-publish {
  background-image: url("../../images/iasp_sprite.png");
  width: 18px;
  height: 18px;
  display: inline-block;
  vertical-align: bottom;
  margin-right: 10px;
  *display: inline;
  *zoom: 1;
  background-position: -10px -30px;
}
.icons-datachart {
  background-image: url("../../images/iasp_sprite.png");
  width: 18px;
  height: 18px;
  display: inline-block;
  vertical-align: bottom;
  margin-right: 10px;
  *display: inline;
  *zoom: 1;
  background-position: -10px -50px;
}
.icons-hot {
  background-image: url("../../images/iasp_sprite.png");
  width: 18px;
  height: 18px;
  display: inline-block;
  vertical-align: bottom;
  margin-right: 10px;
  *display: inline;
  *zoom: 1;
  background-position: -10px -70px;
}
.icons-handshake {
  background-image: url("../../images/iasp_sprite.png");
  width: 18px;
  height: 18px;
  display: inline-block;
  vertical-align: bottom;
  margin-right: 10px;
  *display: inline;
  *zoom: 1;
  background-position: -10px -240px;
}
.icons-people {
  background-image: url("../../images/iasp_sprite.png");
  width: 18px;
  height: 18px;
  display: inline-block;
  vertical-align: bottom;
  margin-right: 10px;
  *display: inline;
  *zoom: 1;
  background-position: -10px -263px;
}
.icons-step {
  background-image: url("../../images/iasp_sprite.png");
  width: 18px;
  height: 18px;
  display: inline-block;
  vertical-align: bottom;
  margin-right: 10px;
  *display: inline;
  *zoom: 1;
  background-position: -10px -110px;
}
.icons-node {
  background-image: url("../../images/iasp_sprite.png");
  width: 18px;
  height: 18px;
  display: inline-block;
  vertical-align: bottom;
  margin-right: 10px;
  *display: inline;
  *zoom: 1;
  background-position: -10px -130px;
}
.icons-news {
  background-image: url("../../images/iasp_sprite.png");
  width: 46px;
  height: 46px;
  display: inline-block;
  margin-right: 20px;
  *display: inline;
  *zoom: 1;
  height: 30px;
  width: 30px;
  vertical-align: middle;
  background-position: -36px -430px;
}
.icons-enlarge {
  background-image: url("../../images/iasp_sprite.png");
  width: 18px;
  height: 18px;
  display: inline-block;
  vertical-align: bottom;
  margin-right: 10px;
  *display: inline;
  *zoom: 1;
  background-position: -71px -433px;
}
.icons-correct {
  background-image: url("../../images/iasp_sprite.png");
  width: 18px;
  height: 18px;
  display: inline-block;
  vertical-align: bottom;
  margin-right: 10px;
  *display: inline;
  *zoom: 1;
  background-position: -71px -460px;
}
.icons-dl {
  background-image: url("../../images/iasp_sprite.png");
  width: 18px;
  height: 18px;
  display: inline-block;
  vertical-align: bottom;
  margin-right: 10px;
  *display: inline;
  *zoom: 1;
  background-position: -70px -485px;
}
.icons-already1 {
  background-image: url("../../images/iasp_sprite.png");
  width: 73px;
  height: 38px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
  *display: inline;
  *zoom: 1;
  background-position: -115px -10px;
}
.icons-already2 {
  background-image: url("../../images/iasp_sprite.png");
  width: 73px;
  height: 38px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
  *display: inline;
  *zoom: 1;
  background-position: -117px -50px;
}
.icons-already3 {
  background-image: url("../../images/iasp_sprite.png");
  width: 73px;
  height: 38px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
  *display: inline;
  *zoom: 1;
  background-position: -119px -90px;
}
.icons-state0,
.icon_info {
  background-image: url("../../images/iasp_sprite.png");
  width: 46px;
  height: 46px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
  *display: inline;
  *zoom: 1;
  background-position: -213px -66px;
}
.icons-state1,
.icon_warning {
  background-image: url("../../images/iasp_sprite.png");
  width: 46px;
  height: 46px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
  *display: inline;
  *zoom: 1;
  background-position: -213px -122px;
}
.icons-state2,
.icon_error {
  background-image: url("../../images/iasp_sprite.png");
  width: 46px;
  height: 46px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
  *display: inline;
  *zoom: 1;
  background-position: -213px -10px;
}
.datepicker[readonly] {
  background-image: url("../../images/iasp_sprite.png");
  background-position: 160px -167px;
  background-repeat: no-repeat;
  background-color: transparent;
  cursor: pointer;
}
#page_message {
  width: 990px;
  margin: auto;
  background-color: #fff;
  border-radius: 4px;
  border: #e5e5e5 1px solid;
  line-height: 30px;
  text-indent: 2em;
  margin-bottom: 20px;
  padding: 10px;
}
#page_message.page_mess_ok {
  background-color: #0db340;
  color: #fff;
}
#page_message.page_mess_error {
  background-color: #e13435;
  color: #fff;
}
label.placeholder {
  line-height: 34px !important;
}
