#set($layout="/www/layout/member_layout.html") #set($pageClass="usercenter") #msgAlertShow($!msgList)
<div class="member-portlet clearfix">
    <div class="member-header">
        <h2 class="module-name">
			个人设置
		</h2>
        <ul class="nav nav-tabs">
            <li><a href="$!{ctx}/member/profile.do">基本资料</a>
            </li>
            <li class="active"><a href="$!{ctx}/member/modify_password.do">密码修改</a>
            </li>
            #if($roleHomsEnName=="ROLE_HOMS_ADMIN")
            <li><a href="$!{ctx}/member/setting.do">帐户管理</a>
            </li>
            #end
        </ul>
    </div>

    <div class="member-body">
        <div class="panel" id="modify-password">
            <div class="panel-body">
				<div class="tip">
					<span class="icons-tip-waring"></span>请确保IHOMS密码与HOMS密码不同！建议密码采用字母和数字混合，并且不短于6位。
				</div>
                <form name="modifyPassword" action="$!{ctx}/member/modifypwd.do" class="form-horizontal validatorForm">
                    <div class="form-group">
						<label for="" class="col-md-2">旧密码:<em>*</em></label>
                        <div class="col-md-5">
                            <input type="password" class="form-control" name="oldPwd" id="oldPwd" data-rule-required="true" data-msg-required="旧密码不能为空" data-rule-minlength="6" data-msg-minlength="旧密码最小长度为6" data-rule-maxlength="16" data-msg-maxlength="旧密码最大长度为16" data-rule-password="false"/>
                        </div>
                        <div class="help-block col-md-4"></div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2">新密码:<em>*</em></label>
                        <div class="col-md-5">
                            <input type="password" class="form-control" name="newPwd" id="newPwd" data-rule-required="true" data-msg-required="新密码不能为空" data-rule-minlength="6" data-msg-minlength="新密码最小长度为6" data-rule-maxlength="16" data-msg-maxlength="新密码最大长度为16" data-rule-password="true" />
                        </div>
                        <div class="help-block col-md-4">
                              <div class="password-meter">
                                    <div class="password-meter-message password-meter-message-too-short">密码强度检测</div>
                                    <div class="password-meter-bg">
                                         <div class="password-meter-bar"></div>
                                    </div>
                                </div> 
						</div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2">确认密码:<em>*</em></label>
                        <div class="col-md-5">
                            <input type="password" class="form-control" name="againPwd" id="againPwd" data-rule-required="true" data-msg-required="确认密码不能为空" data-rule-equalTo="#newPwd" data-msg-equalTo="新密码与确认密码不相同" data-rule-password="false"/>
                        </div>
                        <div class="help-block col-md-4"></div>
                    </div>
                    <div class="form-group">
						<div class="col-md-2 col-md-offset-2">
                            <input type="submit" value="确定" class="btn btn-primary " />
						</div>
                    </div>
                </form>
            </div>
        </div>
	</div>
</div>
